.texto {
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 1.25vw;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

.titulo {
    font-family: 'Roboto Slab';
    margin-bottom: 20px;
}

.comum {
    z-index: 3;
    position: relative;
    background-color: white;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

p{
    margin-top: 10px;
}